<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/viewall.css ">
<div style="background-color: white; height:9em; padding: 0.7em; margin-top: 4.0em " class="container">
	<h2 style="text-align: center;">Mobiles</h2>
	<h4 style="text-align: center; opacity:0.6;"> <%=count%> Items </h4>
</div>
<div style="background-color: white; border-top: 5px solid #f1f3f6;" class="container">
<div class="row text-center" style="display:flex; flex-wrap: wrap;"><!--row text center will set text to the center of every element--> 
		<% mobile.forEach(function(mobile){ %>
            <div class="col-md-2 col-sm-4 col-xs-6">
          
            	<a class="link" href="/<%= mobile._id %>">
            		 <img class="prod-image" src="<%= mobile.image1 %>">
            		 <div class="caption">
                       <h4><%= mobile.modelname %></h4>
                       <h5><%= mobile.memory %></h5>
                   	 </div>
                </a>
           
            </div>
        <% }); %>        
	</div>
</div>

<% include ./partials/footer %>
