<% include ./partials/header %>
<div class="container">
	<%  if(products){ %>
		<div class="row" style="padding-top: 4.5em;">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<ul class="list-group">
					<% products.forEach(function(product){ %>
						<li class="list-group-item">
							<span class="badge"><%= product.item.qty  %></span>
							<strong><%= product.item.modelname	 %>(<%=product.item.color %>,<%= product.item.storage %>)</strong>
							<span class="label label-success">₹<%= product.price%></span>
							<div class="btn-group">
								<button class="btn btn-primary btn-xs dropdown-toggle"s data-toggle="dropdown">Action<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="/reduceone/<%= product.item._id %>">Reduce by 1</a></li>
									<li><a href="#">Remove All</a></li>
								</ul>
							</div>
						</li>
					<% })  %>
				</ul>
			</div>
			<div  class="row">
				<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
					<strong>Total:₹<%= totalPrice %></strong>
					<hr>
				</div>
			</div>
		</div>
		<% if(!currentUser){ %>
			<h5>You need to login before you can Checkout and pay. <a style="cursor: pointer;" data-toggle="modal" data-target="#loginWindow">Click here</a> to go to the login page.</h5>

        <% }else{ %>
        	<div  class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<a href="/checkout" method="POST" type="button" class="btn btn-success">Checkout</button>


       <% }%>
		
		
	<% }else{%>


	<div  class="row" style="padding-top:4.5em">
		<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
		<img src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/empty-cart_ee6141.png" class="_1rdTO5" style="height: 263px">
			<h2>No items in Cart</h2>
		</div>

<% }  %>
<% include ./partials/footer %>
